#
# Backend .dockerignore
#

### python related files
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

### virtual environments
.venv/

### dotenv files
.env
.env.dist
.env.override

### docker files
Dockerfile
.dockerignore

### ignore files
.gitignore

### dev tools files
ruff.toml

### other
README.md

### macos files
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
