#
# Backend .gitignore
#

### python related files
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

### virtual environments
.venv/

### dotenv files
.env

### macos files
# defined in root .gitignore
